img.logo-img {
	display:block;
	width:auto;
	height:auto;
	max-height:40px;
}

.row.header-row {
	position:absolute;
	margin-top:4px;
}

div.logo-img {
	width:90%
}

#header-content div.row:last-child {
	position:relative;
	top: 44px;
}